<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label for="firstname">First Name</label>
        <input type="text" id="name" class="form-control" formControlName="firstname">
        <span class="form-text form-validation" *ngIf="form.get('firstname').errors?.required && form.get('firstname').touched">This field is required</span>
        <span class="form-text form-validation" *ngIf="form.get('firstname').errors?.minlength && form.get('firstname').touched">This field has to be at least 3 Characters long</span>
      </div>
  
      <div class="form-group row">
        <label for="lastname">Last Name</label>
        <input type="text" id="lastname" class="form-control" formControlName="lastname">
        <span class="form-text form-validation" *ngIf="form.get('lastname').errors?.required && form.get('lastname').touched">This field is required</span>
        <span class="form-text form-validation" *ngIf="form.get('lastname').errors?.minlength && form.get('lastname').touched">This field has to be at least 3 Characters long</span>
      </div>
  
      <div class="form-group row">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-control" formControlName="email">
        <span class="form-text form-validation" *ngIf="form.get('email').errors?.email && form.get('email').touched">This field is required and has to be a valid email</span>
      </div>
      
      <div class="form-group row">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" formControlName="password">
        <span class="form-text form-validation" *ngIf="form.get('password').errors?.required && form.get('password').touched">This field is required and has to be a valid Pasword</span>
      </div>
      
      <div class="form-group row">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword">
        <span class="form-text form-validation" *ngIf="form.get('confirmPassword').errors?.MatchPassword">Passwords must match</span>
      </div>
      <div class="form-group row">
        <label for="dob">Date of Birth</label>
        <input id="dob" class="form-control" [minDate]="minDate" formControlName="dob" ngbDatepicker #d="ngbDatepicker">
        <span class="form-text form-validation" *ngIf="form.get('dob').errors?.required && form.get('dob').touched">This field is required</span>
        <button class="input-group-addon" (click)="d.toggle()" type="button" >YYYY-MM-DD</button>
        
      </div>
      
      <div class="form-group row">
        <label for="country">Country</label>
        <select id="country" class="form-control" formControlName="country">
          <option value="argentina">Argentina</option>
          <option value="USA">USA</option>
          <option value="canda">Canada</option>
          <option value="brazil">Brazil</option>
          <option value="japan">Japan</option>
          <option value="germany">Germany</option>
          <option value="england">England</option>
        </select>
        <span class="form-text form-validation" *ngIf="false">Error</span>
      </div>
      
      <div class="form-check">
          <label for="terms" class="form-check-label">
            <input type="checkbox" id="terms" class="form-check-input" formControlName="accept">
          Terms and Conditions</label>
        <span class="form-text form-validation" *ngIf="false">Error</span>
      </div>
  
      <button class="btn btn-dark" type="submit" [disabled]="!form.valid">Guardar</button>
      <button class="btn btn-info" type="reset" [disabled]="form.pristine">Cancelar</button>
    </form>

    <p>{{ form.value | json }}</p>
    <p>{{ form.valid }}</p>
  </div>