<div class="container">
<div class="mainHome ">
<h3><strong>Welcome</strong></h3>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque blandit facilisis viverra. Nam et dui lacus. Integer suscipit
  massa vel tortor suscipit vestibulum. Etiam erat libero, pretium vitae eleifend sit amet, porttitor nec nulla. Orci varius
  natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce eget vestibulum sem. Duis mollis leo erat,
  sed convallis nulla tincidunt sed. Cras interdum quam nec tempus mollis. Nulla orci ipsum, tincidunt id lobortis vel, venenatis
  eget sapien. Duis diam nunc, elementum sed varius sed, euismod non nisi. Phasellus sem purus, finibus at pulvinar eu, pulvinar
  non tortor. Aliquam porta lectus nec sodales volutpat. Pellentesque feugiat, mi vel maximus euismod, nulla libero tincidunt
  enim, non condimentum lacus orci a nulla. Phasellus a egestas orci. Quisque venenatis tellus eget felis tempor tempus.
  Praesent dapibus dapibus lorem, sed ultrices tortor eleifend vitae.</p>
<h3><strong>The List</strong></h3>
<div class="row" id="UBList">
  <div id="MainBlock" class="col">
  <table>
    <thead>
      <tr>
        <th>Creatures (5)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          2 The Scarab God</td>
      </tr>
      <tr>
        <td>3 Torrential Gearhulk</td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th>Spells (26)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>4 Fatal Push</td>
      </tr>
      <tr>
        <td>4 Censor</td>
      </tr>
      <tr>
        <td>4	Essence Scatter</td>
      </tr>
      <tr>
        <td>4	Disallow</td>
      </tr>
      <tr>
        <td>3	Essence Extraction</td>
      </tr>
      <tr>
        <td>4	Hieroglyphic Illumination</td>
      </tr>
      <tr>
        <td>3	Vraska's Contempt</td>
      </tr>

    </tbody>
  </table>
  
  <table>
      <thead>
        <tr>
          <th>Enchantments (3)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>3	Search for Azcanta</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="LandBlock" class="col">
    <table>
      
        <thead>
          <tr>
            <th>Lands (26)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>4	Drowned Catacomb</td>
          </tr>
          <tr>
            <td>2	Evolving Wilds</td>
          </tr>
          <tr>
            <td>4	Fetid Pools</td>
          </tr>
          <tr>
            <td>2	Field of Ruin</td>
          </tr>
          <tr>
            <td>2	Ipnu Rivulet</td>
          </tr>
          <tr>
            <td>4	Island</td>
          </tr>
          <tr>
            <td>1	Submerged Boneyard</td>
          </tr>
          <tr>
              <td>7	Swamp</td>
            </tr>
        </tbody>
      </table>
    </div>
    <div id="SBBlock" class="col">
      <table>
          <thead>
            <tr>
              <th>Sideboard (15)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>3	Duress</td>
            </tr>
            <tr>
              <td>4	Gifted Aetherborn</td>
            </tr>
            <tr>
              <td>4	Glint-Sleeve Siphoner</td>
            </tr>
            <tr>
              <td>2	Jace's Defeat</td>
            </tr>
            <tr>
              <td>1	Negate</td>
            </tr>
            <tr>
              <td>1	Essence Extraction</td>
            </tr>
      
          </tbody>
        </table>
      
</div>
</div>
</div>
</div>
